nav {
    background-color: white;
    box-shadow: 2px 2px 24px rgb(194, 194, 194);
    color: black;
    padding: 20px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a:hover {
    color: #6c5ce7;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #6c5ce7;
}

nav ul {
    width: 30%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

nav ul.active {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a.open {
    color: #6c5ce7;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: none;
}

.toogle_button {
    position: absolute;
    top: 34px;
    right: 30px;
    font-size: 20px;
    display: none;  
    color: #6c5ce7;
}

@media screen and (max-width: 768px) {
    
    nav {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        width: 100%;
        margin: 10px 0;
    }

    .toogle_button {
        display: flex;
    }
}
