section {
    width: 60%;
    max-height: 100%;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_title {
    font-size: 30px;
    font-weight: bold;
}

.post_image {
    max-width: 60%;
    margin: 50px 0;
}

.post_description {
    width: 100%;
    /* border: 1px solid black; */
    text-align: left;
}

.post_description p {
    margin: 30px 0;
    text-align: justify;
}

.post_description .username {
    font-size: 28px;
    font-weight: 500;
}


@media screen and (max-width: 768px) {
    section {
        width: 90%;
        padding: 0 10px;
    }
    
    .post_title {
        font-size: 26px;
        text-align: center;
    }
    
    .post_image {
        max-width: 100%;
        margin: 30px 0;
    }

    .post_description .username {
        font-size: 24px;
    }
}